

/*Centrar formulario*/
form {
    margin: 40px auto;
    max-width: 500px;
    width: 100%;
    background-color: #450693;
    padding: 15%;
    border-radius: 8px;
    box-shadow: 0 4px 8px  #FFC400;
}

label{
     font-family: "Roboto", sans-serif;
     font-weight: bold;
     letter-spacing: 0.5px;
     color:  #FF3F7F;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #FFC400;
    border-radius: 4px;
    transition: border-color 0.3s;

}

textarea{
    resize: vertical;
    height: 120px;
}

button[type="submit"]{
    background-color:#FF3F7F;
    color: beige;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
}

button[type="submit"]:hover{
    background-color: #FFC400;
}





